pkgbase = c-ares
	pkgdesc = A C library for asynchronous DNS requests
	pkgver = 1.22.0
	pkgrel = 1
	url = https://c-ares.haxx.se/
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = glibc
	provides = libcares.so
	source = https://github.com/c-ares/c-ares/releases/download/cares-1_22_0/c-ares-1.22.0.tar.gz
	source = https://github.com/c-ares/c-ares/releases/download/cares-1_22_0/c-ares-1.22.0.tar.gz.asc
	validpgpkeys = 27EDEAF22F3ABCEB50DB9A125CC908FDB71E12C2
	sha512sums = b84b774090bbeae7ad2eabeb223a12474e42f2efcc4e2209fcda260b1fe29337549eb7827eb7f75475fade65b6e1ab719abdae0ff543309c1914aa9cef65cd01
	sha512sums = SKIP
	b2sums = 0f70c2cfe9e5076eaa97262a9b34d915d755618dc89884a2d743a0d47827bb99d2a1d1bb655aff92d8c85a19a4420a1e685d91f82b9f7a55cc2feb5daa27fd41
	b2sums = SKIP

pkgname = c-ares
